<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ '/' | relative_url }}">Zaki Alaoui</a>
    <nav class="site-nav">
      <a class="nav-link{% if page.url == '/' %} active{% endif %}" href="{{ '/' | relative_url }}">About</a>
      <a class="nav-link{% if page.url contains '/research' %} active{% endif %}" href="{{ '/research' | relative_url }}">Research</a>
      <a class="nav-link{% if page.url contains '/publications' %} active{% endif %}" href="{{ '/publications' | relative_url }}">Publications</a>
      <a class="nav-link" href="{{ '/assets/Zaki_Alaoui_CV.pdf' | relative_url }}" target="_blank">CV</a>
    </nav>
  </div>
</header>
